* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(153, 186, 242);

}

.meme-box {
    border: 1px solid lightgrey;
    box-shadow: 1px 5px 5px 5px;
    border-radius: 10px;
    height: 90vh;
    width: 50%;
    margin: 1vh auto;
    padding: 2em;
    text-align: center;
}

.container .meme-box h1 {
    padding: 0.3em;
}

.container .meme-box p {
    font-size: 1.3em;
    padding: 0.3em;
}

.container .meme-box button {
    margin-top: 0.4em;
    height: 3vh;
    width: 6vw;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    color: white;
    background-color: rgb(44, 16, 199);
    transition: 0.3s;

    cursor: pointer;
}

.img {
    width: 70%;
    height: 65vh;
    margin: auto;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#memeowner {
    text-align: center;
}


@media only screen and (min-width:200px) and (max-width:760px){

    .meme-box{
        width: 70%;
        height:auto;
    }

    .meme-box h1{
        font-size: 3vh;
    }

    .meme-box p{
        font-size: 0.2em;
        width: 70vw;
        display: flex;
        justify-self: center;
        text-align: center;
        margin: auto;
    }

    #memeBtn{
        width: 50%;
        height: 5vh;
    }

    .img{
        height: 40vh;
        width:100%;
    }

}
