* {
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
    margin: auto;
    width: 50vw;
    margin-top: 40vh;
    flex-wrap: wrap;
}

#d-l-mode {
    margin: 1vh 1vh;
    background-color: red;
    color: #fff;
    font-weight: bold;
    height: 4vh;
    width: 5vw;
    cursor: pointer;
}

body.dark {
    background-color: #000;
    color: #fff;
}

box.light {
    color: #000;
    background-color: #fff;
}
@media only screen and (min-width:200px) and (max-width:720px){
    .content{
        width: 100%;
    }
    h1{
        font-size: 1.2em;
    }

    #d-l-mode{
        width: fit-content;
    }
}